In [0]:
!pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/5a/3d/13b4230f3c1b8a586cdc8d8179f3c6af771c11247f8de9c166d1ab37f51d/googlemaps-3.0.2.tar.gz
Requirement already satisfied: requests<3.0,>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (2019.6.16)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (3.0.4)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/3c/3f/25/ce6d7722dba07e5d4a12d27ab38f3d7add65ef43171b02c819
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-3.0.2

In [0]:
# import necessary libraries

import googlemaps
import time
import pandas as pd
from roland import api,convert

In [0]:
# declare needed variables
gmaps = googlemaps.Client(key = api())
df = pd.read_csv('Final.csv')

In [0]:
# df.mask(df.applymap(str).eq('[]')) # to turn empty lists to NaN

In [0]:
# initialize an empty list to store output values
place_list = []

In [0]:
for i in df['place_id']:
  try:
    i = convert(i)
    i = i[0]['place_id']
    place_details = gmaps.place(place_id = i)['result']['address_components']
    place_list.append(place_details)
  except:
    place_list.append('None')
  continue

In [0]:
df['overall'] = pd.Series(place_list)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
pd.DataFrame(df).to_csv('university-names.csv')

In [0]:
test = df['overall'][:1]

In [0]:
df[:1]

   Unnamed: 0  ...                                            overall
0           0  ...  [{'long_name': 'New York University', 'short_n...

[1 rows x 10 columns]

In [0]:
details_list = []

In [0]:
for i in df['details']:
  i = convert(i)
  details_list.append(i)

In [0]:
details_list

In [0]:
df['overall'].dtype

dtype('O')

In [0]:
df['details'] = pd.Series(details_list)

In [0]:
test = df['details'][:1]

In [0]:
df.head()

   Unnamed: 0  ...                                            details
0           0  ...  [{'long_name': 'New York University', 'short_n...
1           1  ...  [{'long_name': 'Princeton', 'short_name': 'Pri...
2           2  ...  [{'long_name': '450', 'short_name': '450', 'ty...
3           3  ...  [{'long_name': 'University of Wisconsin-Madiso...
4           4  ...  [{'long_name': 'Ithaca', 'short_name': 'Ithaca...

[5 rows x 10 columns]